<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>navigation</title>
	<meta http-equiv="Content-Type" context="text/html; charset=utf-8">
</head>

<body>

	<nav class="navbar navbar-default" th:fragment="navigation" id="navigation">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbarNavAltMarkup"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/index}">Home</a>
			</div>

			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="nav navbar-nav">
					<li><a class="nav-item nav-link active" sec:authorize="hasAuthority('USER')" th:href="@{/depositPage}">存款</a></li>
					<li><a class="nav-item nav-link active" sec:authorize="hasAuthority('USER')" th:href="@{/withdrawPage}">提款</a></li>
					<li><a class="nav-item nav-link active" sec:authorize="hasAuthority('USER')" th:href="@{/transferPage}">匯款</a></li>
					<li><a class="nav-item nav-link active" sec:authorize="hasAuthority('USER')" th:href="@{/transactionsPage}">交易列表</a></li>
					<li><a class="nav-item nav-link active" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/userList}">用戶列表</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a class="nav-item nav-link active" href="#" th:if="${hasLogined}" th:href="@{/logout}">登出</a></li>-->
					<li><a class="nav-item nav-link active" href="#" sec:authorize="hasAuthority('none')" id="deleteAccountBtn">刪除帳戶</a></li>
					<li><a class="nav-item nav-link active" href="#" sec:authorize="!isAnonymous()" th:href="@{/logout}">登出</a></li>
				</ul>
			</div>
		</div>
	</nav>

</body>

</html>