<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
	<title>transferPage</title>
	<meta http-equiv="Content-Type" context="text/html; charset=utf-8">
</head>
<body>
	<div layout:fragment="content">
		<div class="container" style="width: auto;display: table;margin-left: auto;margin-right: auto; text-align:center;">
			<form th:action="@{/transfer}" method="POST" th:object="${transferModel}" class="form-signin" autocomplete="off">
				<h3 class="form-signin-heading" th:text="匯款"></h3>
				<br/>
				 
				<div>
					<input type="text" th:placeholder="Email" th:field="*{remoteEmail}" id="remoteEmail" name="remoteEmail" class="form-control" style="width:300px"/>
					</br>
					<input type="text" th:placeholder="Amount" th:field="*{amount}" id="amount" name="amount" class="form-control" style="width:300px"/>
				</div>
				<label th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="validation-message" style="font-size: 20; color: #FF0000;"></label> 
				</br>
				<span th:text="${exception}" class="validation-message" style="font-size: 20; color: #FF0000;"></span>
				<div style="width: auto;display: table;margin-left: auto;margin-right: auto;">
					<button class="btn btn-md btn-primary btn-block" name="Submit" value="Confirm" type="Submit" style="width:200px">確認</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>