<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
	<title>Error</title>
	<meta http-equiv="Content-Type" context="text/html; charset=utf-8">
</head>

<body>

	<div layout:fragment="content">
		<div class="starter-template" style="width: auto;display: table;margin-left: auto;margin-right: auto;"  th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
			<h2 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h2>
			<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
			<h2 style="text-align: center;">
	        	<div style="width: auto;display: table;margin-left: auto;margin-right: auto;">
					<form th:action="@{/}" method="get">
						<button class="btn btn-md btn-warning btn-block" type="Submit" style="width:200px">回到首頁</button>
					</form>
				</div>
			</h2>
    	</div>
	</div>

</body>
</html>