<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
	<title>Index</title>
	<meta http-equiv="Content-Type" context="text/html; charset=utf-8">
</head>

<body>

	<div layout:fragment="content">
		<div class="starter-template">
	        <h2>
	        	<span th:text="${name} + '您好 '"></span>
	            <span sec:authorize="hasAuthority('USER')" th:text="'目前餘額 ' + ${amount}"></span>
	        </h2>
    	</div>
	</div>

</body>
</html>