<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
	<title>transactionsPage</title>
	<meta http-equiv="Content-Type" context="text/html; charset=utf-8">
	<style>
		table, thead, tr, tbody, th, td {
			text-align: center;
		}
		.table td {
			text-align: center;
		}
	</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div th:if="${accountPage.totalPages > 0}">
				<ul class="pagination" style="margin:0;">
				    <li class="page-item">
					    <a class="page-link" th:href="@{/admin/userList(size=${accountPage.size}, page=(${accountPage.number == 0} ? 1 : ${accountPage.number}))}" aria-label="Previous">
						    <span aria-hidden="true">&laquo;</span>
						    <span class="sr-only">Previous</span>
					    </a>
				    </li>
			    	<li class="page-item" th:each="pageNumber : ${pageNumbers}">
				    	<a th:href="@{/admin/userList(size=${accountPage.size}, page=${pageNumber})}" th:text=${pageNumber} th:style="${pageNumber==accountPage.number + 1} ? 'background-color:#eee;'"></a>
				    </li>
				    <li class="page-item">
				    	<a class="page-link" th:href="@{/admin/userList(size=${accountPage.size}, page=(${accountPage.number + 1 == accountPage.totalPages} ? ${accountPage.totalPages} : ${accountPage.number + 2}))}" aria-label="Next">
				    		<span aria-hidden="true">&raquo;</span>
				    		<span class="sr-only">Next</span>
				    	</a>
				    </li>
				</ul>
			</div>
			<table class="table table-striped">
			    <tr>
			    	<th scope="col" style="width: 80px;">#</th>
			        <th scope="col">帳戶名稱</th>
			        <th scope="col">電子郵件</th>
			        <th scope="col">餘額</th>
			        <th scope="col">註冊時間</th>
			        <th scope="col">刪除帳戶</th>
			    </tr>
			    <tr th:id="accountTr"th:each="account, infoStat : ${accountPage.content}" >
			        <td scope="row" th:text="${infoStat.count}"></td>
			        <td th:text="${account.name}"></td>
			        <td th:id="accountEmail" th:text="${account.email}"></td>
			        <td th:text="${account.balance}"></td>
			        <td th:text="${#dates.format(account.date, 'yyyy-MM-dd HH:mm')}"></td>
			        <td>
			        	<button th:id="userList_delete_button">刪除</button>
			        </td>
			    </tr>
			</table>
		</div>
	</div>
</body>
</html>